body {
}

h1 {
    color: #000000;
    font-size: larger;
    font-weight: 900;
    text-align: center;
    height: 200px;
    line-height: 200px;
    background-color:aliceblue;
    margin-left: -20px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    position: fixed;
    top: 0px !important;
    left: 0;
    transition: all 0.3s;
    width: 338px;
}

#sidebar .p-4 {
    height: 100%;
    overflow-y: auto;
    background-color:aliceblue;
}

#sidebar ul.components {
    margin: 0;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 30px !important;
    margin-top: 30px;
}

    #sidebar ul li a {
        font-size: 18px;
        background: linear-gradient(270.95deg, #AAD4FF 0%, #033567 100%);
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #fff;
        transition: all 0.3s;
        text-align: center;
        border-radius: 10px; /* Adjust the border radius as needed */
    }

        #sidebar ul li a:hover {
            background: #033567;
  
            }

.form-floating{
    margin-top:40px;
}
.col-md{
    margin:20px;
}
.btnCancel{
    margin-left:90px;
}
main {
}